@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700%7CRoboto+Mono&amp;display=fallback');
/*audiowideregular*/
:root{
  --main-light-light: var(--orange-light-light);
  --main-light: var(--orange-light);
  --main:var(--orange);
  --main-hover:var(--orange-hover);
  --background-light-light:var(--dark-light-light);
  --background-light:var(--dark-light);
  --background:var(--dark);
  --background-hover:var(--dark-hover);
  --font-color: #fff;
  --shadow-color: #505050;

  --dark-light-light: #999999;
  --dark-light: #303030;
  --dark: #1d1d1d;
  --dark-hover: #101010;

  --white-light-light: #494949;
  --white-light: #c4c4c4;
  --white: #ececec;
  --white-hover: #ffffff;

  --red-light-light: #eb9393;
  --red-light: #f16a6a;
  --red: #f15454;
  --red-hover: #b34949;
  
  --orange-light-light:#f5cdc2;
  --orange-light:#d38b77;
  --orange:#d4816b;
  --orange-hover:#bc725f;
  
  --green-light-light: #4cc298;
  --green-light: #358d6e;
  --green: #28785c;
  --green-hover: #21634d;

  --blue-light-light: #aeb6ff;
  --blue-light: #5362e7;
  --blue: #4752c4;
  --blue-hover: #3c45a5;

  --purple-light-light: #c791dd;
  --purple-light: #b06bcc;
  --purple: #985bb0;
  --purple-hover: #6f4181;

  --link: #5e91ff;
  --list-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z"/></svg>');
}

*{
  font-family: 'Montserrat' ,'Rubik', 'Helvetica', 'sans-serif';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
  color: var(--font-color);
}


/* HEADER */

#header{
  background-color: var(--main);
  width: 100%;
  height: 48px;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%), 0 0.2rem 0.4rem rgb(0 0 0 / 20%);
  list-style: none;
  position: fixed;
  top: 0px;
  left: 0px;
}
#header header ul{
  height: 48px;
  align-items: center;
  display: inline-flex;
}
#header-favicon{
  background-color: var(--main);
}
#header-title{
  background-color: var(--main);
  height: 24px;
  margin: 12px 6px;
  float: left;
  align-items: center;
  display: inline-flex;
  color: white;
  text-decoration: none;
}
.header-element{
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  margin-left: 0px;
}
#header-ul-left{
  float: left;
  margin-left: 6%;
}
#header-ul-right{
  float: right;
  margin-right: 6%;

}
#header-ul-left li{
  background-color: var(--main);
  float: left;
  height: 48px;
  align-items: center;
  display: inline-flex;
}
#header-ul-right li{
  background-color: var(--main);
  float: left;
  height: 48px;
  align-items: center;
  display: inline-flex;
  margin-left: 0px;
}
.header-button{
  color: #fff;
  height: 48px;
  font-size: 15px;
  font-weight: 400;
  padding: 0px 1rem;
  background-color: var(--main);
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  transition: all ease 100ms;
}
.header-button:hover{
  background-color: var(--main-hover);
  color:#fff;
}
#header-search{
  height: 36px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 12px;
  background-color: var(--main-light);
  border-radius: 2px;
  align-items: center;
  display: inline-flex;
}
#header-search-input{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  outline-style: none;
  color: #fff;
}
#header-search-input::placeholder{
  color: var(--main-light-light)
}
#config-icon{
  background-color: var(--main);
  height: 24px;
  width: 24px;
  padding: 12px 12px;
  transition: all ease 100ms;
}
#config-icon:hover{
  background-color: var(--main-hover);
}
#header-margin{
  margin-bottom: 48px;
}
/* OVERLAY */

#config{
  background-color: var(--background);
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--shadow-color);
  box-shadow: 0px 5px 5px var(--shadow-color);
  border-style: solid;
  position: absolute;
  margin: 0px;
  top: 50px;
  right: 6%;
  width: 160px;
  height: 120px;
}
.config-title{
  color: gray;
  border:0px;
  border-bottom: 1px;
  margin-top: 2px;
  margin-left: 5px;
  border-color: gray;
  border-style: solid;
}
.config-title-li{
  margin-bottom: 5px;
}
#ilumination{
  -webkit-appearance: none;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color:var(--main-hover);
  box-shadow: 0px 0px 5px var(--main);
  border-radius: 10px;
}
#ilumination::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 5px var(--main);
  background-color: var(--main);
}
.color-li{
  float: left;
  padding-left: 5px;
  width: 20px;
  height: 20px;
}
.color-button, .theme-button{
  width: 20px;
  height: 20px;
  border: #fff;
  border-radius: 100%;
  cursor: pointer;
}
#color-red{background-color: var(--red);}#color-red:hover{background-color: var(--red-hover);}
#color-orange{background-color: var(--orange);}#color-orange:hover{background-color: var(--orange-hover);}
#color-green{background-color: var(--green);}#color-green:hover{background-color: var(--green-hover);}
#color-blue{background-color: var(--blue);}#color-blue:hover{background-color: var(--blue-hover);}
#color-purple{background-color: var(--purple);}#color-purple:hover{background-color: var(--purple-hover);}
#theme-dark{
  background-color: var(--dark);
  border-color: var(--white-light);
  border-width: 2px;
  border-style: solid;
}#theme-dark:hover{background-color: var(--dark-hover);}
#theme-white{
  background-color: var(--white);
  border-color: var(--dark-light);
  border-width: 2px;
  border-style: solid;
}#theme-white:hover{background-color: var(--white-hover);}

/* SIDEMENU */
#sidemenu{
  max-height: 80%;
  width: 250px;
  margin-right: 4%;
  float: left;
}
#sidemenu ul{display: none;margin-bottom: 5px;}
#sidemenu ul li{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 20px;
  font-size: 13px;
  display: grid;
}
#sidemenu ul li *{float:left;}
#sidemenu ul li a{
  color:var(--font-color);
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
#sidemenu ul li img{margin-right: 5px; margin-left: 5px; width: 18px;height: 18px;}
#sidemenu span{font-size: 15px;}
#sidemenu span, #sidemenu span span,#sidemenu ul li a{ transition: all ease 200ms;}
#sidemenu span span{float:right;}
#sidemenu span:hover,#sidemenu span:hover span,#sidemenu ul li a:hover{color: var(--main);cursor: pointer;}
.sidemenu-icon-rotated{transform: rotate(90deg);}
/* CONTENT */

#container{
  margin: 3% 4%;
  display: inline-flex;
  width: 92%;
}

#content{
  float: left;
  width: 100%;
}